@mixin header-logo {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
}

@mixin title {
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
}

@mixin title-mobile {
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
}

@mixin description {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
}

@mixin menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@mixin button {
  border: none;
  border-radius: 20px;
  background-color: $accent-details-color;
  color: $button-color-text;
}