$main-background-color: #ECF7F3;
$additional-color: #FFFFFF;
$accent-details-color: #48B774;

// Text
$main-color-text: #2D2D2D;
$accent-color-text: #FF8345;
$description-color-text: #7C7C7C;

$menu-color-text: #4A4A4A;
$button-color-text: #FFFFFF;
$input-color-text: #A1A1A1;
$additional-color-text: #FD905A;
$info-color-text: #707070;

$active-button-border-color: #FB9B69;
$border-color: #E8E8E8;